[submodule "Carthage/Checkouts/SVProgressHUD"]
	url = https://github.com/SVProgressHUD/SVProgressHUD.git
[submodule "Carthage/Checkouts/DOFavoriteButton"]
	url = https://github.com/ghostlordstar/DOFavoriteButton.git
[submodule "Carthage/Checkouts/Siren"]
	path = Carthage/Checkouts/Siren
	url = https://github.com/ArtSabintsev/Siren.git
