github "radex/SwiftyUserDefaults" ~> 4.0
github "ArtSabintsev/Siren" ~> 3.7
github "ashleymills/Reachability.swift" ~> 4.3
github "onevcat/Kingfisher" ~> 4.10
github "xmartlabs/Eureka" ~> 4.3
github "Openium/SwiftiumKit" ~> 1.4
github "optonaut/ActiveLabel.swift" ~> 0.9
github "Alamofire/Alamofire" ~> 4.7
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.1
github "Hearst-DD/ObjectMapper" ~> 3.3
github "realm/realm-cocoa" ~> 3.11
binary "https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json" ~> 4.4
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.3
github "ninjaprox/NVActivityIndicatorView" ~> 4.4
github "ghostlordstar/DOFavoriteButton" "master"
github "SVProgressHUD/SVProgressHUD" ~> 2.2
github "eddiekaiger/SwiftyAttributes" ~> 5.1
