<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>288038948917-npjc592ckqp9bmbtjma5rk4fhc0a7t1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288038948917-npjc592ckqp9bmbtjma5rk4fhc0a7t1q</string>
	<key>API_KEY</key>
	<string>AIzaSyC9_GRwgXpANDfyCLWhtA2HvemL7lEWL7M</string>
	<key>GCM_SENDER_ID</key>
	<string>288038948917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.openium.AuvergneWebcams</string>
	<key>PROJECT_ID</key>
	<string>auvergne-webcams</string>
	<key>STORAGE_BUCKET</key>
	<string>auvergne-webcams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:288038948917:ios:42865af17db19f73</string>
	<key>DATABASE_URL</key>
	<string>https://auvergne-webcams.firebaseio.com</string>
</dict>
</plist>