<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ActiveLabel.swift</string>
			<key>Title</key>
			<string>ActiveLabel.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Alamofire</string>
			<key>Title</key>
			<string>Alamofire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlamofireNetworkActivityIndicator</string>
			<key>Title</key>
			<string>AlamofireNetworkActivityIndicator</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlamofireObjectMapper</string>
			<key>Title</key>
			<string>AlamofireObjectMapper</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/DOFavoriteButton</string>
			<key>Title</key>
			<string>DOFavoriteButton</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Eureka</string>
			<key>Title</key>
			<string>Eureka</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Firebase</string>
			<key>Title</key>
			<string>Firebase</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/NVActivityIndicatorView</string>
			<key>Title</key>
			<string>NVActivityIndicatorView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ObjectMapper</string>
			<key>Title</key>
			<string>ObjectMapper</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Reachability.swift</string>
			<key>Title</key>
			<string>Reachability.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/realm-cocoa</string>
			<key>Title</key>
			<string>realm-cocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Siren</string>
			<key>Title</key>
			<string>Siren</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SVProgressHUD</string>
			<key>Title</key>
			<string>SVProgressHUD</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftiumKit</string>
			<key>Title</key>
			<string>SwiftiumKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftyUserDefaults</string>
			<key>Title</key>
			<string>SwiftyUserDefaults</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
