<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>598908203731-gabhebgc577cqbgra3u28grp9u4t4ro0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598908203731-gabhebgc577cqbgra3u28grp9u4t4ro0</string>
	<key>API_KEY</key>
	<string>AIzaSyB4jAd275C6VQ4NK2OyLi70R2Ho7rSjtwg</string>
	<key>GCM_SENDER_ID</key>
	<string>598908203731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.openium.ParisWebcams</string>
	<key>PROJECT_ID</key>
	<string>paris-webcams</string>
	<key>STORAGE_BUCKET</key>
	<string>paris-webcams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:598908203731:ios:4825e486228bc3da</string>
	<key>DATABASE_URL</key>
	<string>https://paris-webcams.firebaseio.com</string>
</dict>
</plist>